.threshold-modal-title {}

.threshold-modal-preview-image {
    max-width: 100%;
}

.threshold-modal-input-row-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.threshold-modal-input-label {}

.threshold-modal-input {
    flex-grow: 1;
}