/* Gives a small vertical gap between all the elements in the modal */
.threshold-modal .modal-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.threshold-modal-preview-image {
    max-width: 100%;
}

.threshold-modal-canvas {
    display: none;
}

.threshold-modal-row-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.threshold-modal-slider {
    flex-grow: 1;
}

.threshold-modal-input {
    flex-grow: 1;
}

.modal-content button {
    cursor: pointer;
}

.threshold-modal-apply-button,
.threshold-modal-overwrite-button {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
}

.threshold-modal-apply-button {
    width: 90%;
    align-self: center;
}